{template "content","header"}
    <div class="neirong">
        <div class="fengexian"></div>
        <div class="fengmianliebiao">
            {php $sql = structure_filters_sql($modelid)}  
			{php $urlrule = makeurlrule()}  
			{pc:content action="lists" where="$sql" catid="$catid" order="id DESC" num="999" urlrule="$urlrule"}
            <div class="liebiao">
                {loop $data $r}
                <li>
                    <a href="{$r[url]}" target="_blank">
                        <div class="liebiaotu">
                            <img src="{$r[fengmiantu]}" alt="">
                        </div>
                        <div class="liebiaomiaoshu">
                            <p class="nianfen">{$r[title]}</p>
                            <p class="vs">{$r[qiudui_1]} <span style="">VS</span> {$r[qiudui_2]}</p>
                        </div>
                    </a>
                </li>
                {/loop}
            </div>
            {/pc}
			<ul class="list">数据加载中，请稍后...</ul>
			<div class="more"><a href="javascript:;" onClick="lanren.loadMore();">点击加载更多</a></div>
        </div>
		<script>
			var _content = []; //临时存储li循环内容
			var lanren = {
				_default:20, //默认显示图片个数
				_loading:8,  //每次点击按钮后加载的个数
				init:function(){
					var lis = $(".fengmianliebiao .liebiao li");
					$(".fengmianliebiao ul.list").html("");
					for(var n=0;n<lanren._default;n++){
						lis.eq(n).appendTo(".fengmianliebiao ul.list");
					}
					$(".fengmianliebiao ul.list img").each(function(){
						$(this).attr('src',$(this).attr('realSrc'));
					})
					for(var i=lanren._default;i<lis.length;i++){
						_content.push(lis.eq(i));
					}
					$(".fengmianliebiao .liebiao").html("");
				},
				loadMore:function(){
					var mLis = $(".fengmianliebiao ul.list li").length;
					for(var i =0;i<lanren._loading;i++){
						var target = _content.shift();
						if(!target){
							$('.fengmianliebiao .more').html("<p>啊,已经到底了...</p>");
							break;
						}
						$(".fengmianliebiao ul.list").append(target);
						$(".fengmianliebiao ul.list img").eq(mLis+i).each(function(){
							$(this).attr('src',$(this).attr('realSrc'));
						});
					}
				}
			}
			lanren.init();
		</script>
		<div class="fengexian"></div>
    </div>
{template "content","footer"}