{template "content","header"}
<style>
	.h2{font-size:28px;line-height:30px;margin-bottom:20px;}
	.p{line-height:28px;font-size:14px;}
	.a{display:block;font-size:16px;color:#1a477b;margin-top:20px;}
	.lxwm{border:1px solid #ccc;padding:10px;}
</style>
<div class="neirong">
	<div class="fengexian"></div>
	<h2 class="h2">联系我们</h2>
	<div class="lxwm">
		<p class="p">如果发现本站有什么内容错误或对本站有什么建议或意见请发邮件至：<span><a href="https://mail.qq.com/" nofollow target="_blank" style="color:red;font-size:17px;">251960747@qq.com</a></span></p>
		<p class="p">有相关视频资源或者有意和我们合作的请发邮件(同上)。</p>
	</div>
	<a class="a" href="{APP_PATH}">返回首页</a>
	<div class="fengexian"></div>
</div>
{template "content","footer"}